table {
  border-collapse: collapse;
  width: 100%;
}

placeholder{
  text-align: center;
}

th,td {
  text-align: center;
  padding: 8px;
}

tr:nth-child(even){
  background-color: #f2f2f2
}

th {
  background-color: #1cdccc;
  color: white;
}
  
  a:link, a:visited {
    background-color: rgb(255, 3, 234);
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    text-align: center;
    font-family: Arial;
    font-size: 13.3333px;
  }
  
  a:hover, a:active, button {
    background-color: lightblue;
    border-radius: 5px;
    
  }
  
  h1,h2,h3,h4 {
    text-align: center;
    font-family: Arial;
    
  }

 

  *{
    margin: o;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
    
  }
  .form{
    width: 600px;
    background: #1cdccc ;
    padding: 30px;
    margin: auto;
    margin-top: 10px;
    color: white;
    box-shadow: 7px 13px 37px #000;
  }
  
  .controls{
    width: 100%;
    background: gray ;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 16px;
    border: 1px solid;
    font-size: 18px;
  }

  .form a:link, a:visited, button {
    background-color: rgb(255, 3, 234);
    color: white;
    padding: 7px 10px;
    margin: 4px 0;
    text-align: center;
    font-family: Arial;
    font-size: 13.3333px;
    border-radius: 5px;
    width: 100%;
  }

  .form a:hover {
    box-shadow: 7px 13px 37px #000;
  }
  


  
  input , select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  button {
    width: 100%;
    background-color:rgb(255, 3, 234);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
  }
  
  button:hover {
    background-color:  rgb(255, 3, 234);
    box-shadow: 7px 13px 37px #000;
  }
  
